<script id="systemAlertsBannerTemplate" type="text/template">
	<div class="system-alert-banner">
		<span class="system-alert-banner-message"></span>
		<a class="system-alert-banner-close" href="javascript:void(0)"></a>
	</div>
</script>

<script id="systemAlertsBannerToggleTemplate" type="text/template">
  <a href="javscript:void(0)" class="system-alert-banner-toggle">
    Show System Alerts
  </a>
</script>

<script type="text/javascript" language="JavaScript" src="/portal/scripts/system_alerts.js$!{portalCDNQuery}"></script>