<!-- CLASSES-1015 -->
<div id="tutorialPopup"></div>
<script id="tutorialPopupContent" type="text/template">
	<header id="tutorialPopupHeader">
		Welcome to the Upgraded NYU Classes!
		<a href="javascript:void(0);" class="tutorialPopupContinue ui-button"></a>
	</header>
	<section id="tutorialPopupData">
		<p>NYU Classes has been upgraded to provide a more modern interface and enhanced features. You do not need to relearn the system and your content is right where you left it. Watch a brief intro video:</p>
		<div>
			<center>
				<a id="tutorialPopupIntroductionVideo" href="http://youtu.be/2TBO3iYIj5E" target="_blank" title="YouTube video: Introduction to the new version of NYU Classes">
					<img src="$!{portalCDNPath}/portal/styles/images/tutorial/upgrade-introduction-screenshot.gif$!{portalCDNQuery}" alt="Screenshot of the NYU Classes Introduction video"/>
				</a>
			</center>
		</div>
		<h3 id="tutorialPopupFeaturesHeading">Enhanced Features Include:</h3>
		<ul id="tutorialPopupFeatures">
			<li>
				<img src="$!{portalCDNPath}/portal/styles/images/tutorial/feature1.png$!{portalCDNQuery}"/>
				<p><strong>More drag-and-drop</strong><br/> functionality, from reordering sites to uploading Resources.</p>
			</li>

			<li>
				<img src="$!{portalCDNPath}/portal/styles/images/tutorial/feature2.png$!{portalCDNQuery}"/>
				<p><strong>New group features</strong>,<br/> including joinable groups and group assignments.</p>
			</li>

			<li>
				<img src="$!{portalCDNPath}/portal/styles/images/tutorial/feature3.png$!{portalCDNQuery}"/>
				<p><strong>Improved contextual help</strong><br/> in site tools, providing direct access to relevant help articles.</p>
			</li>
		</ul>
		<h3>Want to learn more?</h3>
		<ul id="tutorialPopupLearningBits">
			<li>Find help articles and “Getting Started” videos in the new <strong>Help</strong> tool, located in the left menu of every site.</li>
			<li>Instructors will find "See the New Features" links in the upper right of applicable tools.</li>
			<li>For ongoing updates on NYU Classes, see the "NYU Classes Info" area in My Workspace.</li>
		</ul>
	</section>
	<footer id="tutorialPopupFooter">
		<a href="javascript:void(0)" class="tutorialPopupContinue button active">Take me to the upgraded NYU Classes</a>
	</footer>
</script>
<script>
	sakai.tutorial_popup = {
		display_on_load: $!{displayTutorialPopup}
	};
	console.log(sakai.tutorial_popup.display_on_load);
</script>
<script type="text/javascript" src="$!{portalCDNPath}/portal/scripts/tutorial-popup.js$!{portalCDNQuery}"></script>