################################
#    READ ME!!
################################
#  For translators:
#
#       You should not translate this properties file.  
#		The only properties you should translate are the ones that are in TutorialMessages.properties.  Leave the rest of the properties alone.
#                                                                                                       ---------------------------------------
#
#  For people creating new pages:
#  
#  		You can create new pages simply by adding a new set of properties.  For instance, to add a page, define a set of properties like:
#
#  		{prefix}.selection=(either a jquery selection query or leave it blank if this is a dialog and isn't pointing to a specific part in the page)
#  		{prefix}.previousUrl=({prefix} of the previous page or leave blank if there isn't one)
#  		{prefix}.nextUrl=({prefix} of the next page or leave blank if there isn't one)
#  		{prefix}.dialog=(true or blank if it isn't a dialog)
#  		{prefix}.positionTarget=(area of the target you want the tool tip to point to.  eg. bottomRight, rightMiddle, etc.  http://craigsworks.com/projects/qtip/docs/tutorials/#position)
#  		{prefix}.positionTooltip=(area of the target you want to tip of the dialog to show up. eg. bottomRight, rightMiddle, etc http://craigsworks.com/projects/qtip/docs/tutorials/#position)
#  		{prefix}.fadeout=(true if you want the dialog to fadeout otherwise blank)
#
#		When you have added the page's properties to this properties file, then you can add the .title and .body properties in TutorialMessages.properties
#
#

#Welcome Page
introToSakai_p1.selection=
introToSakai_p1.previousUrl=
introToSakai_p1.nextUrl=/direct/tutorial/introToSakai_sitenav.json
introToSakai_p1.dialog=true
introToSakai_p1.positionTarget=
introToSakai_p1.fadeout=

#Site Navigation Page
introToSakai_sitenav.selection=ul#siteLinkList li.workspaceTab:visible
introToSakai_sitenav.previousUrl=/direct/tutorial/introToSakai_p1.json
introToSakai_sitenav.nextUrl=/direct/tutorial/introToSakai_sitenav_new.json
introToSakai_sitenav.dialog=
introToSakai_sitenav.positionTooltip=topLeft
introToSakai_sitenav.positionTarget=bottomMiddle
introToSakai_sitenav.fadeout=

#Site Navigation NEW UI Page
introToSakai_sitenav_new.selection=#myWorkspaceLink:visible
introToSakai_sitenav_new.previousUrl=/direct/tutorial/introToSakai_sitenav.json
introToSakai_sitenav_new.nextUrl=/direct/tutorial/introToSakai_sitenav_contd.json
introToSakai_sitenav_new.dialog=
introToSakai_sitenav_new.positionTooltip=topLeft
introToSakai_sitenav_new.positionTarget=bottomMiddle
introToSakai_sitenav_new.fadeout=

#Site Navigation Page 2
introToSakai_sitenav_contd.selection=ul#siteLinkList li.workspaceTab:visible + li
introToSakai_sitenav_contd.previousUrl=/direct/tutorial/introToSakai_sitenav_new.json
introToSakai_sitenav_contd.nextUrl=/direct/tutorial/introToSakai_sitenav_contd_new.json
introToSakai_sitenav_contd.dialog=
introToSakai_sitenav_contd.positionTooltip=topLeft
introToSakai_sitenav_contd.positionTarget=bottomMiddle
introToSakai_sitenav_contd.fadeout=

#Site Navigation NEW UI Page 2
introToSakai_sitenav_contd_new.selection=ul#siteLinkList li.workspaceTab:hidden + li
introToSakai_sitenav_contd_new.previousUrl=/direct/tutorial/introToSakai_sitenav_contd.json
introToSakai_sitenav_contd_new.nextUrl=/direct/tutorial/introToSakai_moreButton.json
introToSakai_sitenav_contd_new.dialog=
introToSakai_sitenav_contd_new.positionTooltip=topLeft
introToSakai_sitenav_contd_new.positionTarget=bottomMiddle
introToSakai_sitenav_contd_new.fadeout=

#More Sites Dropdown Page
introToSakai_moreButton.selection=ul#siteLinkList li.more-tab .inner:visible
introToSakai_moreButton.previousUrl=/direct/tutorial/introToSakai_sitenav_contd_new.json
introToSakai_moreButton.nextUrl=/direct/tutorial/introToSakai_toolMenu.json
introToSakai_moreButton.dialog=
introToSakai_moreButton.positionTooltip=topRight
introToSakai_moreButton.positionTarget=bottomMiddle
introToSakai_moreButton.fadeout=

#Tool Menu Page
introToSakai_toolMenu.selection=div#toolMenu
introToSakai_toolMenu.previousUrl=/direct/tutorial/introToSakai_moreButton.json
introToSakai_toolMenu.nextUrl=/direct/tutorial/introToSakai_toggleMenu.json
introToSakai_toolMenu.dialog=
introToSakai_toolMenu.positionTooltip=leftMiddle
introToSakai_toolMenu.positionTarget=rightMiddle
introToSakai_toolMenu.fadeout=

#Toggle Menu page
introToSakai_toggleMenu.selection=#toggleToolMenu #toggleToolMax
introToSakai_toggleMenu.previousUrl=/direct/tutorial/introToSakai_toolMenu.json
introToSakai_toggleMenu.nextUrl=/direct/tutorial/introToSakai_refreshTool.json
introToSakai_toggleMenu.dialog=
introToSakai_toggleMenu.positionTooltip=leftTop
introToSakai_toggleMenu.positionTarget=rightMiddle
introToSakai_toggleMenu.fadeout=

#Refresh Tool page
introToSakai_refreshTool.selection=.portletTitle .title > a:visible
introToSakai_refreshTool.previousUrl=/direct/tutorial/introToSakai_toggleMenu.json
introToSakai_refreshTool.nextUrl=/direct/tutorial/introToSakai_refreshTool_new.json
introToSakai_refreshTool.dialog=
introToSakai_refreshTool.positionTooltip=topLeft
introToSakai_refreshTool.positionTarget=leftBottom
introToSakai_refreshTool.fadeout=

#Refresh Tool NEW UI page
introToSakai_refreshTool_new.selection=.portletTitle .title > a:hidden + h2
introToSakai_refreshTool_new.previousUrl=/direct/tutorial/introToSakai_refreshTool.json
introToSakai_refreshTool_new.nextUrl=/direct/tutorial/introToSakai_helpIcon.json
introToSakai_refreshTool_new.dialog=
introToSakai_refreshTool_new.positionTooltip=topLeft
introToSakai_refreshTool_new.positionTarget=rightBottom
introToSakai_refreshTool_new.fadeout=

#Help Icon Page
introToSakai_helpIcon.selection=.portletTitle .action a.help.help-sakai
introToSakai_helpIcon.previousUrl=/direct/tutorial/introToSakai_refreshTool.json
introToSakai_helpIcon.nextUrl=/direct/tutorial/introToSakai_profileTool.json
introToSakai_helpIcon.dialog=
introToSakai_helpIcon.positionTooltip=topRight
introToSakai_helpIcon.positionTarget=bottomMiddle
introToSakai_helpIcon.fadeout=

#Profile Tool Page
introToSakai_profileTool.selection=#mastLogin span.drop
introToSakai_profileTool.previousUrl=/direct/tutorial/introToSakai_helpIcon.json
introToSakai_profileTool.nextUrl=/direct/tutorial/introToSakai_logout.json
introToSakai_profileTool.dialog=
introToSakai_profileTool.positionTooltip=topRight
introToSakai_profileTool.positionTarget=bottomLeft
introToSakai_profileTool.fadeout=

#Logout Page
introToSakai_logout.selection=a#loginLink1
introToSakai_logout.previousUrl=/direct/tutorial/introToSakai_profileTool.json
introToSakai_logout.nextUrl=
introToSakai_logout.dialog=
introToSakai_logout.positionTooltip=topRight
introToSakai_logout.positionTarget=bottomLeft
introToSakai_logout.fadeout=

#Return to Tutorial Page
introToSakai_pTutorialLocation.selection=#tutorialLink.submenuitem-tutorial
introToSakai_pTutorialLocation.previousUrl=/direct/tutorial/introToSakai_logout.json
introToSakai_pTutorialLocation.nextUrl=
introToSakai_pTutorialLocation.dialog=
introToSakai_pTutorialLocation.positionTooltip=topRight
introToSakai_pTutorialLocation.positionTarget=bottomLeft
introToSakai_pTutorialLocation.fadeout=true